name: Build for macOS

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Build on macOS
    runs-on: macos-latest

    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.24'

      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get dependencies
        run: go get -v ./...

      - name: Build
        env:
          GOOS: darwin
          GOARCH: amd64
          CGO_ENABLED: 0
        run: go build -v -o seraph-api-merger-macos ./main.go

      - name: Upload to Release
        uses: softprops/action-gh-release@v1
        with:
          files: seraph-api-merger-macos
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
